%% -*- erlang -*-
{deps, [{redbug, "2.0.8"}]}.

{plugins,
 [{provider_asn1, {git, "git@github.com:sebastiw/provider_asn1.git", {branch, "compile-order"}}}
 ]}.

{asn1_args,
 [{compile_opts, [maps]},
  {compile_order, [{dir, "etsi_ETR091_ed1_9307"},
                   {dir, "itu-t_X.880_9407"},
                   {dir, "itu-t_Q.773_9706"},
                   {dir, "ts29.002-v17.2.0"},
                   {wildcard, "**/*.asn1"}
                  ]}
 ]}.

{provider_hooks,
 [{pre, [{compile, {asn, compile}}]},
  {post, [{clean, {asn, clean}}]}
 ]}.
