%% -*- erlang -*-
{deps, []}.

{plugins,
 [{provider_asn1, "0.4.1"},
  {rebar3_diameter_compiler, "0.8.0"}
 ]}.

{asn1_args,
 [{compile_opts, [maps, noobj]},
  {compile_order, [{dir, "etsi_ETR091_ed1_9307"},
                   {dir, "itu-t_X.880_9407"},
                   {dir, "itu-t_Q.773_9706"},
                   {dir, "gsm09.02-v4.19.1"},
                   {dir, "ts29.002-v17.2.0"},
                   {wildcard, "**/*.asn1"}
                  ]}
 ]}.

{provider_hooks,
 [{pre, [{compile, {asn, compile}},
         {compile, {diameter, compile}}]},
  {post, [{clean, {asn, clean}},
          {clean, {diameter, clean}}]}
 ]}.

{hex, [{doc, edoc}]}.
